<!DOCTYPE html>
<html ng-app="movo">
  <head>
  <title>Movember Mustache Museum 2013</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js"></script>
    <script src="javascripts/movo.js"></script>
    <link rel="icon" href="images/favicon.ico">
  </head>
  <body ng-controller="MainCtrl">
    <div class="container" id="mustaches">
      <h1 class="text-center">Movember Mustache Museum 2013</h1>
      <div class="row">
        <div class="col-md-3" ng-repeat="user in users">
          <h2 class="text-center">{{user.name}}</h2>
        </div>
      </div>
      <div class="row" style="min-height: 400px">
        <div class="col-md-3" ng-repeat="user in users">
          <img class="hidden img-circle img-responsive fade-in" src="https://raw.github.com/LessonPlanet/lp-movember/master/{{user.handle}}/{{date}}-bw.jpg" missing-image flipbook ng-repeat="date in dates" />
        </div>
      </div>
      <div class="row">
        <h3 class="text-center">
          <a href="https://docs.google.com/a/lessonplanet.com/spreadsheet/ccc?key=0Ah2LD7TOZmqYdGhwb01aeGxiUjNlZENYeEtGQ2FoYmc&usp=drive_web#gid=0">sponsor a stache!</a>
        </h3>
      </div>
    </div>
  </body>
</html>
